.cards {
  margin-top: 48px;
}
.cards__list {
  max-width: 880px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 17px;

  padding: 0;
  margin: 0;
}
.cards__content {
  border-radius: 10px;
  overflow: hidden;
  background-color: #eeeeee;
  list-style-type: none;
  position: relative;
}
.cards__image {
  width: 282px;
  height: 282px;
}

.cards__image-title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.cards__image-descriptions {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
  align-items: center;
}
.cards__button {
  padding: 0;
  border: none;
  margin: 0;
  background: url(../images/heart.svg) no-repeat center;
  min-width: 21px;
  height: 18px;
}
.cards__button:hover {
  opacity: 0.4;
  cursor: pointer;
}
.cards__like-button {
  background: url(../images/like.svg);
}
.cards__delete-button {
  position: absolute;
  margin: 0;
  top: 18px;
  right: 15px;
  transition: 0.5s opacity;
}
.cards__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .cards__list {
    grid-template-columns: repeat(2, 282px);
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .cards__list {
    grid-template-columns: 282px;
  }
}
