.card {
  max-width: 880px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 17px;
  grid-template-rows: repeat(auto-fit, 361px);
  padding: 0;
  margin: 0;
}
.card__content {
  border-radius: 10px;
  overflow: hidden;
  background-color: #eeeeee;
  list-style-type: none;
}
.card__image {
  width: 282px;
  height: 282px;
}
.card__image-vally {
  background: transparent url(../images/yosemite.jpg) center no-repeat;
  background-size: cover;
}
.card__image-lake {
  background: transparent url(../images/lake-louise.jpg) center no-repeat;
  background-size: cover;
}
.card__image-mountain {
  background: transparent url(../images/bald-mountains.jpg) center no-repeat;
  background-size: cover;
}
.card__image-latemar {
  background: transparent url(../images/latemar.jpg) center no-repeat;
  background-size: cover;
}
.card__image-vanoise {
  background: transparent url(../images/vanoise.jpg) center no-repeat;
  background-size: cover;
}
.card__image-lago {
  background: transparent url(../images/lago.jpg) center no-repeat;
  background-size: cover;
}
.card__image-title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__image-descriptions {
  display: flex;
  justify-content: space-between;
  margin: auto 20px;
  align-items: center;
}
.card__button {
  padding: 0;
  border: none;
  margin: 0;
  transition: opacity 0.5s linear;
  cursor: pointer;
}
.card__image-like {
  width: 21px;
  height: 18px;
}
.card__button :hover {
  opacity: 0.5;
}

@media screen and (max-width: 766px) {
  .card {
    grid-template-columns: 282px;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .card {
    grid-template-columns: repeat(2, 282px);
    justify-content: center;
  }
}
