.card {
  max-width: 880px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 17px;

  padding: 0;
  margin: 0;
}
.card__content {
  border-radius: 10px;
  overflow: hidden;
  background-color: #eeeeee;
  list-style-type: none;
}
.card__image {
  width: 282px;
  height: 282px;
  background: transparent cover center no-repeat;
}

.card__image-title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.card__image-descriptions {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
  align-items: center;
}
.card__button {
  padding: 0;
  border: none;
  margin: 0;

  cursor: pointer;
  background: url(../images/heart.png) no-repeat center;
  min-width: 21px;
  height: 18px;
  transition: opacity 0.5s linear;
}

.card__button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 880px) {
  .card {
    grid-template-columns: repeat(2, 282px);
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .card {
    grid-template-columns: 282px;
    justify-content: center;
  }
}
