.profile {
  /* max-width: 880px; */
  min-height: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
}
.profile__image {
  margin-right: 30px;

  border-radius: 50%;
  width: 120px;
}
.profile__informations {
  display: grid;
  grid-template-areas:
    "title  button"
    "description description";
  max-width: 415px;
  align-items: center;
  justify-content: start;
  column-gap: 18px;
}
.profile__title {
  grid-area: title;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.2;
}
.profile__subtitle {
  grid-area: description;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

.profile__editor {
  background: url(../images/editor.png) transparent center no-repeat;
  border: 1px solid white;

  grid-area: button;
  min-width: 24px;
  min-height: 24px;
  padding: 0;
  transition: opacity 0.5s linear;
  cursor: pointer;
}
.profile__editor:hover {
  opacity: 0.5;
}
.profile__add-editor {
  background: url(../images/add-editor.png) transparent center no-repeat;
  min-width: 150px;
  min-height: 50px;
  border: 1px solid white;
  padding: 0;
  box-sizing: border-box;
  margin-left: auto;
  transition: opacity 0.5s linear;
  cursor: pointer;
}
.profile__add-editor:hover {
  opacity: 0.5;
}
@media screen and (max-width: 766px) {
  .profile {
    display: grid;
    justify-content: center;
    width: 100%;
  }
  .profile__title {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
  }

  .profile__image {
    margin: auto;
  }
  .profile__informations {
    justify-content: center;
    margin-top: 26px;
  }
  .profile__subtitle {
    margin: 15px auto 0;
  }
  .profile__add-editor {
    width: 100%;
    min-width: 283px;
    margin-top: 35px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .profile {
    display: flex;
    width: 100%;
    gap: 30px;
  }
  .profile__image {
    margin: 0;
  }
}
